
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pollywog Ranch</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/ponds">Ponds</a> | 
      <a href="/frogs">Frogs</a> | 
      <a href="/tadpoles">Tadpoles</a>
    </nav>
